*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.cards-container {
  margin: 1rem 3rem;
}
.card-size {
  height: 400px;
  overflow: hidden;
}
.crd-img {
  max-height: 250px;
}
.fs-18 {
  font-size: 18px;
}
